body {
  font-family: sans-serif;
  background: #f5f5f5;
}

.game {
  max-width: calc(3 * 120px);
  margin: 40px auto;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.status {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: black;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  gap: 10px;
  justify-content: center;
}

.cell {
  width: 120px;
  height: 120px;
  background: black;
  border: 2px solid #333;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s ease;
  ;
}

.cell:hover {
  background: #eaeaea;
}
